<!-- /.preloader -->
<div id="preloader"></div>
<div id="top"></div>

<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('<%= asset_path('bg.jpg') %>');" data-img-width="2000" data-img-height="1333" data-diff="100">

	<div class="overlay">
		<div class="container">
			<div class="row">

				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<div class="col-md-7">

					<!-- /.logo -->
					<div class="logo wow fadeInDown"> <a href=""><img src="<%= asset_path('logo.png') %>"></a></div>

					<!-- /.main title -->
						<h1 class="wow fadeInLeft">
						Curso de </br>Auto-Conocimiento
						</h1>

					<!-- /.header paragraph -->
					<div class="landing-text wow fadeInUp">
						<p>S&oacute;lo el conocimiento que llega desde dentro es el verdadero conocimiento</br><i>S&oacute;crates</i></p>
					</div>

				</div> 

				<!-- /.signup form -->
				<div class="col-md-5">

					<div class="signup-header wow fadeInUp">
						<h3 class="form-title text-center">COMENZ&Aacute;</h3>
						<%= form_for(Usuario.new, as: :usuario, url: registration_path(:usuario)) do |f| %>
						<input type="hidden" name="id" value="bfdba52708">
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[name]" id="name" type="text" placeholder="Tu Nombre" required>
							</div>
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[email]" id="email" type="email" placeholder="Email" required>
							</div>
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[password]" id="password" type="password" placeholder="Contraseña" required>
							</div>
							<div class="form-group last">
								<input type="submit" class="btn btn-warning btn-block btn-lg" value="INSCRIBIRME">
							</div>
							<div class="form-group last">
								<%= button_to "INGRESAR (YA ESTOY INSCRIPTO)", ingresar_path,
								      :class => "btn btn-warning btn-block btn-lg ingresar", :method => :get %>
							</div>
						<% end %>	
							<p class="privacy text-center">No compartiremos tu email. Lee nuestra <a href="privacy.html">política de privacidad</a>.</p>
					
						<!-- /.social links -->
						<div class="social text-center">
							<ul>
								<!-- https://norfipc.com/codigos/generador-enlaces-direcciones-compartir-redes-sociales.php -->
								<li class="txt-compartir">Compart&iacute;: </li>
								<li><a class="wow fadeInUp" href="https://twitter.com/home?status=ageacac.org.ar" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a class="wow fadeInUp" href="https://www.facebook.com/sharer/sharer.php?u=ageacac.org.ar" target="_blank" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
								<li><a class="wow fadeInUp" href="https://plus.google.com/share?url=ageacac.org.ar" target="_blank" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="wow fadeInUp" href="https://pinterest.com/pin/create/button/?url=ageacac.org.ar&media=ageacac.org.ar&description=" target="_blank" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
								<li><a class="wow fadeInUp" href="https://www.linkedin.com/shareArticle?mini=true&url=ageacac.org.ar&title=Curso%20de%20%20Auto-Conocimiento&summary=S%C3%B3lo%20el%20conocimiento%20que%20llega%20desde%20dentro%20es%20el%20verdadero%20conocimiento.%20-%20S%C3%B3crates%0A&source=" target="_blank" data-wow-delay="0.6s"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div> 
	</div> 
</div>

<!-- NAVIGATION -->
<div id="menu">
	<nav class="navbar-wrapper navbar-default" role="navigation">
		<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand site-name" href="#top"><img src="<%= asset_path('logo2.png') %>" /> </a>
			  </div>
	 
			  <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#intro">About</a></li>
					<li><a href="#feature">Features</a></li>
					<li><a href="#download">Download</a></li>
					<li><a href="#package">Pricing</a></li>
					<li><a href="#testi">Reviews</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			  </div>
		</div>
	</nav>
</div>



